@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=K2D:wght@400;800&family=Rubik:wght@300;700&display=swap');
/*
font-family: 'Inter', sans-serif;
font-family: 'K2D', sans-serif;
font-family: 'Rubik', sans-serif;
*/
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body
{
    background-image: url(Imagens/universe\ -\ background\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
nav
{
/*Display stuff*/
    display: flex;
    align-items: center;
    justify-content:space-between;
/*Box model stuff*/
    padding: 20px;
}
nav ul, .navigation
{
/*Display stuff*/
    display: flex;
/*Typography stuff*/
    font-family: 'K2D', sans-serif;
    font-size: 12px;
    font-weight: 800;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
/*Miscellaneous*/
    gap: 5rem;
    list-style: none;
}
#icon
{
    width: 50px;
}
.secao1
{
    font-family: 'K2D', sans-serif;
    font-weight: 800;
    height: 90vh;
}
.secao2
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: black;
}
.parte1
{
/*Display stuff*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
/*Box model stuff*/
    height: 65%;
    padding: 50px;
}
.parte2
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 35%;
}
.titulo
{
/*Typography stuff*/
    font-size: 6rem;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    color: white;
/*Miscellaneous*/
    letter-spacing: 35px;
    animation: fadeIn;
    animation-duration: 2s;
}
#frase
{
/*Box model stuff*/
    width: 80%;
    padding: 5px;
    background: linear-gradient(to right,transparent,black,transparent);
/*Typography stuff*/
    text-align: center;
    color: white;
}

.buttons
{
    display: flex;
    justify-content: center;
    align-items: center;
}
#planetas_btn
{
/*Box model stuff*/
width: 40%;
height: 40px;
margin-right: -7px;
padding-right: 30px;
border: none;
border-top: 5px solid white;
border-bottom-left-radius: 20px;
background: transparent;
/*Typography stuff*/
font-family: 'K2D', sans-serif;
font-size: 15px;
font-weight: 800;
text-align: end;
text-decoration: none;
text-transform: uppercase;
color: white;
/*Miscellaneous*/
letter-spacing: 5px;
cursor: pointer;
}

#planetas_btn:hover
{
    transition: 0.5s ease;
    background-color:black;
}

.pulsar
{
/*Display stuff*/
    display: flex;
    align-items: center;
    justify-content: center;
/*Positioning stuff*/
    position: relative;
    z-index: 1;
/*Box model stuff*/
    width: 65px;
    height: 65px;
    border: none;
    border: 5px solid white;
    border-radius: 50%;
    background: white;
/*Typography stuff*/
    font-family: 'K2D', sans-serif;
    font-weight: 800;
    color: black;
/*Miscellaneous*/
    cursor: pointer;
}
.pulsar:before, .pulsar::after
{
/*Display stuff*/
    content: '';
    display: block;
/*Positioning stuff*/
    position: absolute;
    left: -20px;
    right: -20px;
    top: -20px;
    bottom: -20px;
/*Box model stuff*/
    border: 1px solid white;
    border-radius: 50%;
/*Manipulations stuff*/
    animation: pulsar 1.5s linear infinite;
    opacity: 0;
}
.pulsar::after
{
    animation-delay: .5s;
}

#constelacao_btn
{
/*Box model stuff*/
    width: 40%;
    height: 40px;
    margin-left: -7px;
    padding-left: 30px;
    border: none;
    border-top: 5px solid white;
    border-bottom-right-radius: 20px;
    background: transparent;
/*Typography stuff*/
    font-family: 'K2D', sans-serif;
    font-size: 15px;
    font-weight: 800;
    text-align: start;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
/*Miscellaneous*/
    letter-spacing: 5px;
    cursor: pointer;
}
#constelacao_btn:hover
{
    transition: 0.5s ease;
    background-color:black;    
}

.setinhas 
{
/*Display stuff*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
/*Box model stuff*/
    padding-top: 30px;
/*Typography stuff*/
    color: white;
/*Manipulations stuff*/
    animation: Up-Down 1.5s linear infinite;
/*Miscellaneous*/
    cursor: pointer;
}
#setina_a
{
    text-decoration: none;
}
.fa-solid
{
    animation: Up-Down 5s linear infinite;
}
.cetinha
{
    animation: Up-Down 5s linear infinite;
    animation-delay: 0.2s;
}
.video
{
/*Display stuff*/
    display: flex;
    align-items: center;
    justify-content: center;
/*Box model stuff*/
    width: 100%;
    height: 100vh;
    background-color: gray;
}
#meuPlayer
{
/*Positioning stuff*/
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
/*Box model stuff*/
    width: 70%;
    height: 70%;
/*Manipulations stuff*/
    transform: translate(-50%, -50%);
}

.close {
/*Display stuff*/
    display: none;
/*Positioning stuff*/
    position: absolute;
    z-index: 2;
/*Box model stuff*/
    width: 40px;
    height: 40px;
    border-bottom: 2px solid white ;
    border-left: 2px solid white ;
    border-radius: 50%;
    background: black;
/*Typography stuff*/
    font-family: 'K2D', sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
/*Miscellaneous*/
    top: 15%;
    left: 85%;
    transform: translate(-50%, -50%);
  }
  
.close:hover,
.close:focus {
/*Typography stuff*/
    text-decoration: none;
    color: gray;
/*Manipulations stuff*/
    transition: all 1.5s;
/*Miscellaneous*/
    cursor: pointer;
}
#modal
{
/*Positioning stuff*/
   /* position: absolute;
    left: 50%;
    top: 40%;
    z-index: 1;
/*Box model stuff*/
    width: 65%;
    height: 70%;
    background-color: black;
/*Manipulations stuff*/
    
}

.info
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30vh;
    background-color: black;
    padding: 20px;
}
.infos
{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.parameters
{
    color: #494949;
    font-family: 'Inter', sans-serif;
}
.num
{
    color: white;
    font-size: 40px;
    font-family: 'K2D', sans-serif;
}

/*ANIMATIONS*/
@keyframes pulsar{
    0% {
        transform: scale(0.5);
    }
    50%{
        opacity: 1;
    }
    100%{
        transform: scale(1.2);
        opacity: 0;
    }
}

@keyframes Up-Down {
    0% {
        transform: translateY(10px);
    }
    50%{
        transform: translateY(15px);
    }
    100%{
        transform: translateY(10px);
    }
}


