@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=K2D:wght@400;800&family=Rubik:wght@300;700&display=swap');
/*
font-family: 'Inter', sans-serif;
font-family: 'K2D', sans-serif;
font-family: 'Rubik', sans-serif;
*/
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    
}
body
{
    background-image: url(Imagens/universe\ -\ background\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}

nav
{
/*Display stuff*/
    display: flex;
    align-items: center;
    justify-content:space-between;
/*Box model stuff*/
    padding: 5px 20px;
    position: fixed;
    width: 100%;
    backdrop-filter: blur(5px);
    z-index: 1;
}
nav ul, .navigation
{
/*Display stuff*/
    display: flex;
/*Typography stuff*/
    font-family: 'K2D', sans-serif;
    font-size: 12px;
    font-weight: 800;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
/*Miscellaneous*/
    gap: 5rem;
    list-style: none;
}
#icon
{
    width: 50px;
}
.secao1
{
    font-family: 'K2D', sans-serif;
    font-weight: 800;
    height: 100vh;
}
.secao2
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-image: url(Imagens/background-\ secao2.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.secao3
{
    display: flex;
    background-color: black;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    width: 100%;
}
.parte1
{
/*Display stuff*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
/*Box model stuff*/
    height: 65%;
    padding: 50px;
}
.parte2
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 35%;
}
.titulo
{
/*Typography stuff*/
    font-size: 6rem;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    color: white;
/*Miscellaneous*/
    letter-spacing: 35px;
    animation: fadeIn;
    animation-duration: 2s;
}
#frase
{
/*Box model stuff*/
    width: 80%;
    padding: 5px;
    background: linear-gradient(to right,transparent,black,transparent);
/*Typography stuff*/
    text-align: center;
    color: white;
}

.buttons
{
    display: flex;
    justify-content: center;
    align-items: center;
}
#planetas_btn
{
/*Box model stuff*/
width: 40%;
height: 40px;
margin-right: -7px;
padding-right: 30px;
border: none;
border-top: 5px solid white;
border-bottom-left-radius: 20px;
background: transparent;
/*Typography stuff*/
font-family: 'K2D', sans-serif;
font-size: 15px;
font-weight: 800;
text-align: end;
text-decoration: none;
text-transform: uppercase;
color: white;
/*Miscellaneous*/
letter-spacing: 5px;
cursor: pointer;
}

#planetas_btn:hover
{
    transition: 0.5s ease;
    background-color:black;
}

.pulsar
{
/*Display stuff*/
    display: flex;
    align-items: center;
    justify-content: center;
/*Positioning stuff*/
    position: relative;
    z-index: 1;
/*Box model stuff*/
    width: 65px;
    height: 65px;
    border: none;
    border: 5px solid white;
    border-radius: 50%;
    background: white;
/*Typography stuff*/
    font-family: 'K2D', sans-serif;
    font-weight: 800;
    color: black;
/*Miscellaneous*/
    cursor: pointer;
}
.pulsar:before, .pulsar::after
{
/*Display stuff*/
    content: '';
    display: block;
/*Positioning stuff*/
    position: absolute;
    left: -20px;
    right: -20px;
    top: -20px;
    bottom: -20px;
/*Box model stuff*/
    border: 1px solid white;
    border-radius: 50%;
/*Manipulations stuff*/
    animation: pulsar 1.5s linear infinite;
    opacity: 0;
}
.pulsar::after
{
    animation-delay: .5s;
}

#constelacao_btn
{
/*Box model stuff*/
    width: 40%;
    height: 40px;
    margin-left: -7px;
    padding-left: 30px;
    border: none;
    border-top: 5px solid white;
    border-bottom-right-radius: 20px;
    background: transparent;
/*Typography stuff*/
    font-family: 'K2D', sans-serif;
    font-size: 15px;
    font-weight: 800;
    text-align: start;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
/*Miscellaneous*/
    letter-spacing: 5px;
    cursor: pointer;
}
#constelacao_btn:hover
{
    transition: 0.5s ease;
    background-color:black;    
}

.setinhas 
{
/*Display stuff*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
/*Box model stuff*/
    padding-top: 30px;
/*Typography stuff*/
    color: white;
/*Manipulations stuff*/
    animation: Up-Down 1.5s linear infinite;
/*Miscellaneous*/
    cursor: pointer;
}
#setina_a
{
    text-decoration: none;
}
.fa-solid
{
    animation: Up-Down 5s linear infinite;
}
.cetinha
{
    animation: Up-Down 5s linear infinite;
    animation-delay: 0.2s;
}
.video
{
/*Display stuff*/
    display: flex;
    align-items: center;
    justify-content: center;
/*Box model stuff*/
    width: 100%;
    height: 100vh;
    background-color: gray;
}
#meuPlayer
{
/*Positioning stuff*/
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
/*Box model stuff*/
    width: 70%;
    height: 70%;
/*Manipulations stuff*/
    transform: translate(-50%, -50%);
}

.close {
/*Display stuff*/
    display: none;
/*Positioning stuff*/
    position: absolute;
    z-index: 2;
/*Box model stuff*/
    width: 40px;
    height: 40px;
    border-bottom: 2px solid white ;
    border-left: 2px solid white ;
    border-radius: 50%;
    background: black;
/*Typography stuff*/
    font-family: 'K2D', sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
/*Miscellaneous*/
    top: 15%;
    left: 85%;
    transform: translate(-50%, -50%);
  }
  
.close:hover,
.close:focus {
/*Typography stuff*/
    text-decoration: none;
    color: gray;
/*Manipulations stuff*/
    transition: all 1.5s;
/*Miscellaneous*/
    cursor: pointer;
}
#modal
{
/*Positioning stuff*/
   /* position: absolute;
    left: 50%;
    top: 40%;
    z-index: 1;
/*Box model stuff*/
    width: 65%;
    height: 70%;
    background-color: black;
/*Manipulations stuff*/
    
}

.info
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30vh;
    background-color: black;
    padding: 20px;
}
.infos
{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.parameters
{
    color: #494949;
    font-family: 'Inter', sans-serif;
    animation: aparecer 1ms ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 50%;
}
.num
{
    color: white;
    font-size: 40px;
    font-family: 'K2D', sans-serif;
}

.tooltip {
    position: relative;
    cursor: pointer;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 80%;
    font-family: 'K2D', sans-serif;
    background-color: #000000;
    color: #fff;
    border: 2px solid white;
    padding: 5px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    opacity: 0;
    transition: opacity 0.3s;
    transition: all 0.5s ease;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}


  
.historia
{
    display: flex;
    color: white;
    justify-content: flex-start;
    height: 100vh;
    width: 100%;
    padding: 50px;
}
#numero
{
    font-weight: 800;
    font-size: 200px;
    background: url(Imagens/background\ letras.png);
    -webkit-background-clip: text;
    color: transparent;
    background-repeat: no-repeat;
    font-family: 'K2D', sans-serif;
}
.content_hist
{
    display: flex;
    flex-direction: column;
    padding: 10% 30px 0px;

    animation: aparecer 1ms ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 10%;
}
.content_hist h1
{
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 20px;
    border-top: 4px solid white;
    width: 25%;
    padding-top: 14px;
    font-size: 40px;

    animation: aparecer 1ms ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 30%;
}

.content_hist p
{
    color: white;
    font-family: 'K2D', sans-serif;
    width: 50vw;
    font-size: 20px;
    padding-top: 5%;

    animation: aparecer 1ms ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 30%;

}

.features
{
    display: flex;
    color: white;
    justify-content: flex-end;
    padding: 50px;
    height: 100%;
    width: 100%;
}
.content_feat
{
    display: flex;
    flex-direction: column;
    padding: 10% 30px 0;
}
.content_feat h1
{
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 20px;
    border-top: 4px solid white;
    width: 25%;
    padding-top: 14px;
    font-size: 40px;

    animation: aparecer2 1ms ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 30%;
}
.content_feat p
{
    color: white;
    font-family: 'K2D', sans-serif;
    width: 50vw;
    font-size: 20px;
    padding-top: 5%;

    animation: aparecer2 1ms ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 30%;
}

  


.slider
{
    height: 100vh;
    width: 100%;
}

swiper-container {
    width: 100%;
    height: 100%;
    background-color: #000000;
  }

.slider {
    font-size: 18px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

.slider img {
    display: block;
    width: 100%;
    height: 100%;
    background-size: cover;
}

swiper-container {
    margin-left: auto;
    margin-right: auto;
}
.slider_content
{
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5rem;
    background: linear-gradient(to right, black, black, transparent);
    height: 100%;
    width: 100%;
}
.titulo_slide
{
    font-family: 'K2D', sans-serif;
    color: white;
    font-size: 40px;
    text-transform: uppercase;
    width: 115%;
}
.texto_slide
{
    width: 100%;
    color: white;
    font-family: 'K2D', sans-serif;
    font-size: 20px;
}
.btn_slide
{
   
    padding: 10px 50px;
    border: none;
    background-color: transparent;
    color: white;
    font-family: 'K2D', sans-serif;
    font-size: 15px;
    border-radius: 0px 50px 50px 0px;
    border: 2px solid white;
    font-weight: bold;
    transition: all 1s ease;
    cursor: pointer;
}
.btn_slide:hover
{
    color: black;
    background-color: white;
}
.nasa
{
    color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding:50px 100px;
    align-items: flex-end;
    font-family: 'K2D', sans-serif;
    text-transform: uppercase;
    letter-spacing: 15px;
    font-size: 10px;
} 
.nasa #numero
{
    font-size: 30px;
    background-size: 100%;
}
.nasa a
{
    color: white;
}
#slider1
{
    background-image: url(Imagens/Galaxia\ de\ Andromeda.png);
    background-size: 100%;
}
#slider2
{
    background-image: url(Imagens/Nebulosa\ De\ Orion.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
#slider3
{
    background-image: url(Imagens/Nuvem\ De\ Magalhães.png);
    background-size: 100%;
}
#slider4
{
    background-image: url(Imagens/Pilares\ Da\ Criação.png);
    background-size: 100%;
}

/* Isso irá afetar qualquer barra de rolagem na página */
::-webkit-scrollbar {
    width: 02px;
}
/* Fundo da barra de rolagem */
::-webkit-scrollbar-track {
    background: black;
}

/* A barra de rolagem em si */
::-webkit-scrollbar-thumb {
    background: #20295e;
    border-radius: 50px;
}

/* Cor da barra de rolagem quando você passa o mouse sobre ela */
::-webkit-scrollbar-thumb:hover {
    background: rgb(8, 19, 76);
}




/*ANIMATIONS*/
@keyframes pulsar{
    0% {
        transform: scale(0.5);
    }
    50%{
        opacity: 1;
    }
    100%{
        transform: scale(1.2);
        opacity: 0;
    }
}

@keyframes Up-Down {
    0% {
        transform: translateY(10px);
    }
    50%{
        transform: translateY(15px);
    }
    100%{
        transform: translateY(10px);
    }
}
@keyframes aparecer {
    from{
        opacity: 0;
        translate: -50vw 0;
    }
    to{
        opacity: 1;
        translate: 0 0;
    }
}
@keyframes aparecer2 {
    from{
        opacity: 0;
        translate: 50vw 0;
    }
    to{
        opacity: 1;
        translate: 0 0;
    }
}


/*RESPONSIVIDADE*/


@media (max-width: 500px)
{
body{

    width: 100%;
    overflow-x: hidden;
} 
.titulo
{
    font-size: 2rem;
    letter-spacing: 25px;
}
#frase
{
    width: 100%;
}
.parte1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.parte2
{
    width: 100%;
}
#planetas_btn, #constelacao_btn
{
    font-size: 10px;
    width: 100%;
}
.info{
    justify-content: center;
    gap: 5px;
    flex-direction: column;
}
.infos{
    align-items: center;
    justify-content: center;
}
.parameters
{
    font-size: 20px;
}
.num
{
    font-size: 25px;
}
#numero
{
    font-size: 80px;
}
.content_hist
{
    padding: 0px;
}
.content_hist p
{
    width: 100%;
    font-size: 16px;
}
.historia{
    flex-direction: column;
    padding: 16px;
}
.content_feat
{
    padding: 0px;
    height: 75vh;
}
.content_feat p
{
    font-size: 16px;
    width: 100%;
}
.features
{
    flex-direction: column-reverse;
    padding: 16px;
}
}




button.learn-more {
    position: absolute;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    font-family: 'K2D', sans-serif;
}

button.learn-more {
    width: 12rem;
    height: auto;
}

button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #ffffff;
    border-radius: 1.625rem;
}

button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background-image: url(Imagens/Background\ -\ HomePage.jpg);
}

button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}

button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #000000;
    border-right: 0.125rem solid #000000;
    transform: rotate(45deg);
}

button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #ffffff;
    font-weight: 700;
    line-height: 1.6;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
}

button:hover .circle {
    width: 100%;
}

button:hover .circle .icon.arrow {
    background: #000000;
    transform: translate(1rem, 0);
}

button:hover .button-text {
    color: #000000;
}
.swiper-button-next
{
    color: red;
}