@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=K2D:wght@400;800&family=Rubik:wght@300;700&display=swap');
/*
font-family: 'Inter', sans-serif;
font-family: 'K2D', sans-serif;
font-family: 'Rubik', sans-serif;
*/
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    
}
body
{
    background-image: url(Imagens/universe\ -\ background\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}

nav
{
/*Display stuff*/
    display: flex;
    align-items: center;
    justify-content:space-between;
/*Box model stuff*/
    padding: 5px 20px;

}
nav ul, .navigation
{
/*Display stuff*/
    display: flex;
/*Typography stuff*/
    font-family: 'K2D', sans-serif;
    font-size: 12px;
    font-weight: 800;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
/*Miscellaneous*/
    gap: 5rem;
    list-style: none;
}
#icon
{
    width: 50px;
}


/*slides*/

section
{
    height: 100vh;
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}
